* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: repeating-linear-gradient(
      220deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      189deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      148deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    linear-gradient(90deg, rgb(30, 169, 65), rgb(158, 25, 173));
}

a {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: #fff;
  bottom: -4px;
  transition: 0.5s;
}

a:hover::before {
  width: 100%;
}
